/LibraryCatalogueSystem/build/
/LibraayCatalogueSystem-common/nbproject/private/
/LibraryCatalogueSystem-common/nbproject/private/
/LibraryCatalogueSystem-war/nbproject/private/
/LibraryCatalogueSystem-ejb/nbproject/private/
/LibraryCatalogueSystem-ejb/build/
/LibraryCatalogueSystem-common/build/
/LibraryCatalogueSystem-common/dist/
/LibraryCatalogueSystem-ejb/dist/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/build/
/EnterpriseApplication1/dist/
/EnterpriseApplication2/nbproject/private/
/LibraryCatalogueSystem-shared/nbproject/private/
/EnterpriseApplication2/dist/
/EnterpriseApplication2/build/
/LibraryCatalogueSystem-app/nbproject/private/
/Assignment/nbproject/private/
/LibraryCatalogueSystem-app/build/
/LibraryCatalogueSystem-app/dist/
/Assignment/dist/
/Assignment/build/
/id*/*
/glassfish-4.1/*
