/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 5, 2017, 10:48:08 AM
    Author     : zx
*/

body {background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);font-family: Arial; } 
header { background:lightskyblue; height: 40px; padding: 20px; } 

/* Headings */ 
header h1 { color: #FFF; margin: 0; } 

.high{margin: 5px auto; height:100px; padding: 20px}
/*.low{position: absolute; left: 200px; top:400px;}*/
.low{padding:400px 10px 0 0}
.bookdetblock1{ border-style: dashed; margin:200px 0 0 0; width:25% ;
         border-radius: 25px;padding: 1cm;float: left}
.bookdetblock2{ border-style: dashed; margin:200px auto; width:25% ;
         border-radius: 25px;padding: 2cm;float: left}
.bookpic{width:66%}
.titlespace{padding: 50px}
.table{ margin: 20px; text-align: center;}
.list-coloum1-center{text-align: center;height: 1.5cm;width: 5cm}
.list-coloum2-center{text-align: center;height: 1.5cm;width: 5cm}
.list-coloum3-center{text-align: center;height: 1.5cm;width: 5cm}
.list-coloum4-center{text-align: center;height: 1.5cm;width: 5cm}
.list-coloum5-center{text-align: center;height: 1.5cm;width: 5cm}
.list-coloum6-center{text-align: center;height: 1.5cm;width: 5cm} 
.list-coloum7-center{text-align: center;height: 1.5cm;width: 5cm} 
.list-row1-bg{background:#4faff0 ;height:1.5cm}
.list-row2-bg{background:#81bee7;height:1.5cm}
/* Form Elements */ 
.submitbutton{width:5cm; height:40px; border-radius: 5px; letter-spacing: 2px; font-size: 15px;cursor: pointer;margin: 1cm}

