/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2017, 9:50:00 PM
    Author     : zx
*/
/* Main Sections*/
html {  background:  #9CF}
body { background:#ADD8E6;  height: 500px; margin:0; font-family: Arial; padding-bottom: 5px;} 
header { background: #9CF; height: 40px; padding: 20px; } 
article { padding: 20px; } 
/* Headings */ 
header h1 { color: #FFF; margin: 0; } 
h2 { margin: 0; } 
/* Form Elements */ 
form p { font-weight: bold; margin: 0; } 
 
textarea { display: block; margin-bottom: 10px; height: 240px; width: 480px;}
.spaceline{}
.searchblock{}
.indexform{margin: 0 auto;}
.attributes{border-radius: 3px; border: 1px solid #74ddf7}
#submit{width:10px; height:30px; border-radius: 5px; letter-spacing: 2px; font-size: 8px;cursor: point}


