/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 3, 2017, 9:50:00 PM
    Author     : zx
*/
/* Main Sections*/

body { background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%); font-family: Arial; } 
header { background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%); height: 40px; padding: 20px; } 
article { padding: 20px; } 
/* Headings */ 
header h1 { color: #FFF; margin: 0; } 
h2 { margin: 0; } 
/* Form Elements */ 
form p { font-weight: bold; margin: 0; } 
form{margin-top: 1.5cm;} 

.spaceline{height: 2px; border: none; border-top: 2px dotted #FFF}
.attributes{height: 1cm; width:8cm; border-radius: 3px; border: 1px solid #fff;letter-spacing: 3px}
.submitbutton{width:4cm; height:40px; border-radius: 5px; letter-spacing: 2px; font-size: 15px;cursor: pointer;margin: 1cm}
.titlespace{margin: 10px}

